<div class="floating-header">
    <div class="floating-header-logo">
        <a href="/">
            {% if site.logo_dark %}
                <img src="/{{ site.logo_dark }}" alt="{{ site.title }} icon" />
            {% endif %}
            <span>{{ site.title }}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    <div class="floating-header-share">
        <div class="floating-header-share-item">
            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="{{ site.production_url }}{{ page.url | remove_first: '/' }}"></script>
        </div>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
