<nav class="site-nav">
    <div class="site-nav-left">
        {% include navigation.html %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.github %}
                <a class="social-link social-link-gh" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">{% include github.svg %}</a>
            {% endif %}
            {% if site.linkedin %}
                <a class="social-link social-link-li" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener">{% include linkedin.svg %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {% endif %}
    </div>
</nav>
